<div class="container my-3">
    <h4 class="h4 d-flex">
        <div>Now Playing</div>
        <div class="ml-auto" (click)="closePlayer()"><fa-icon [icon]="faTimes"></fa-icon></div>
    </h4>
    <hr>
    <div class="px-auto">
        <video class="my-4 offset-md-2 col-md-8 p-0" src="http://192.168.43.227:3000/video/sample" controls></video>
    </div>
    <div class="mediaDetails" *ngIf="media">
        <span>{{media.name}}</span>
        <span class="px-4">|</span>
        <span>{{media.duration/60}} Hour {{media.duration%60}} Minutes</span>
        <span class="px-4">|</span>
        <span>{{media.genre}}</span>
        <span class="px-4">|</span>
        <span>{{media.certification}}</span>
    </div>
</div>