<div class="container my-3">
    <h3 class="h3 heading">Movies</h3><hr>
    <div class="row overflow-auto">
        <div class="errMessage col-6 offset-3" *ngIf="!movies">
            No Movies available.
        </div>
        <div class="card mr-3 my-4" *ngFor="let movie of movies">
            <img class="card-img-top" [src]="movie.photoUrl" alt="Card image cap">
            <!-- <div class="card-body">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div> -->
            <div class="card-footer">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <h3 class="h3 heading">TV Series</h3><hr>
    <div class="row overflow-auto">
        <div class="errMessage col-6 offset-3" *ngIf="!movies">
            No TV Series available.
        </div>
        <div class="card mr-3 my-4" *ngFor="let movie of movies">
            <img class="card-img-top" [src]="movie.photoUrl" alt="Card image cap">
            <!-- <div class="card-body">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div> -->
            <div class="card-footer">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <h3 class="h3 heading">Tutorials</h3><hr>
    <div class="row overflow-auto">
        <div class="errMessage col-6 offset-3" *ngIf="!movies">
            No Tutorials available.
        </div>
        <div class="card mr-3 my-4" *ngFor="let movie of movies">
            <img class="card-img-top" [src]="movie.photoUrl" alt="Card image cap">
            <!-- <div class="card-body">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div> -->
            <div class="card-footer">
                <p class="card-text">{{movie.name}}</p>
                <p class="card-text">{{movie.duration/60}} Hour {{movie.duration%60}} Minutes</p>
            </div>
        </div>
    </div>
</div>

<br>