<div class="container my-3">
    <h3 class="h3 heading">Movies</h3><hr>
    <div class="row overflow-auto">
        <div class="card mr-3 my-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
            <div class="card-footer">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <h3 class="h3 heading">TV Series</h3><hr>
    <div class="row overflow-auto">
        <div class="card mr-3 my-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
            <div class="card-footer">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <h3 class="h3 heading">Tutorials</h3><hr>
    <div class="row overflow-auto">
        <div class="card mr-3 my-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
            <div class="card-footer">
                <p class="card-text">movieName</p>
                <p class="card-text">movieYear</p>
            </div>
        </div>
    </div>
</div>

<br>