hr {
    border-top: 1px solid white;
    margin: 4px 0;
}

@media only screen and (min-width: 992px) {
    .card {
        width: 15% !important;
        min-width: 15% !important;
        height: 250px;
    }
  }

@media only screen and (max-width: 991px) {
    .card {
        width: 18.4% !important;
        min-width: 18.4% !important;
        height: 220px;
    }
  }

@media only screen and (max-width: 767px) {
    .card {
        width: 23.4% !important;
        min-width: 23.4% !important;
        height: 220px;
    }
  }

@media only screen and (max-width: 609px) {
    .card {
        width: 32% !important;
        min-width: 32% !important;
        height: 220px;
    }
  }

@media only screen and (max-width: 609px) {
    .card {
        width: 32% !important;
        min-width: 32% !important;
        height: 220px;
    }
  }

@media only screen and (max-width: 500px) {
    .card {
        width: 115px !important;
        min-width: 115px !important;
        height: 220px;
        margin-right: 6% !important;
    }
  }

.card {
    margin-right: 2% !important;
}

.row {
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto !important;
}