<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand ml-2" (click)="sidenav.toggle()">
    <fa-icon [icon]="faBars"></fa-icon>
  </span>
  <a class="navbar-brand ml-2" href="/">SES</a>
  <form class="form-inline ml-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-dark text-light" id="basic-addon1">
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <input type="text" class="form-control bg-dark text-light" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
  </form>
  <div class="ml-auto col-md-2 text-right h4 my-auto">
    <div class="row">
      <div class="col-md-3 offset-3" cdkOverlayOrigin #notificationDialog="cdkOverlayOrigin"
      (click)="notificationDialogOpen=!notificationDialogOpen">
        <a class="text-light"><fa-icon [icon]="faBell"></fa-icon>
          <span class="badge badge-info" *ngIf="numNotification > 0">
            <small>{{numNotification}}</small>
          </span>
        </a>
      </div>
      <ng-template cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="notificationDialog"
      [cdkConnectedOverlayOpen]="notificationDialogOpen">
        <div class="dialog" role="dialog" aria-label="Notifications">
            <p class="text-center m-0">Notifications</p>
          <hr>
          <div *ngFor="let notification of notifications">
            <small>{{notification}}</small>
            <br><hr>
          </div>
        </div>
      </ng-template>
      <div class="col-md-3">
        <a class="text-light" [routerLink]="['/settings']" (click)="tab=''">
          <fa-icon [icon]="faCog"></fa-icon>
        </a>
      </div>
      <div class="col-md-3"
      cdkOverlayOrigin #userDialog="cdkOverlayOrigin"
      (click)="userDialogOpen=!userDialogOpen">
        <a class="text-light">
          <fa-icon [icon]="faUserCircle"></fa-icon>
        </a>
      </div>
      <ng-template cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="userDialog"
      [cdkConnectedOverlayOpen]="userDialogOpen">
        <div *ngIf="!user" class="dialog text-center text-light" role="dialog" aria-label="User Menu">
          <small>Anonymous</small>
          <br><hr>
          <a class="text-light" [routerLink]="['/login']" (click)="tab=''">
            <small><strong>Login</strong></small>
          </a>
        </div>
        <div *ngIf="user" class="dialog text-center text-light" role="dialog" aria-label="User Menu">
          <small>Welcome {{user}}</small>
          <br><hr>
          <a class="text-light" href="/logout">
            <small><strong>Logout</strong></small>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="menuOpened">
    <a [routerLink]="['/']" class="text-light my-auto">
      <div class="h2 text-center menu" (click)="tab='home'" [ngClass]="tab=='home' ? 'active' : ''">
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
    </a>
    <a [routerLink]="['/video']" class="text-light my-auto">
      <div class="h2 text-center menu" (click)="tab='video'" [ngClass]="tab=='video' ? 'active' : ''">
        <fa-icon [icon]="faFilm"></fa-icon>
      </div>
    </a>
    <a [routerLink]="['/audio']" class="text-light my-auto">
      <div class="h2 text-center menu" (click)="tab='audio'" [ngClass]="tab=='audio' ? 'active' : ''">
        <fa-icon [icon]="faItunesNote"></fa-icon>
      </div>
    </a>
    <a [routerLink]="['/map']" class="text-light my-auto">
      <div class="h2 text-center menu" (click)="tab='map'" [ngClass]="tab=='map' ? 'active' : ''">
        <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      </div>
    </a>
    <a [routerLink]="['/info']" class="text-light my-auto">
      <div class="h2 text-center menu" (click)="tab='info'" [ngClass]="tab=='info' ? 'active' : ''">
        <fa-icon [icon]="faInfo"></fa-icon>
      </div>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>