.form-control:focus,.form-control:active {
    outline: none !important;
    box-shadow: none;
    background-color: rgb(170, 192, 224) !important;
 }

 .badge{
    background: rgba(226, 145, 222, 0.7);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-13px;
    right:-5px;
    padding: 4px;
    margin-top: 3px;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 60px;
}

mat-sidenav-content {
    padding: 5px;
}

hr {
    margin: 3px;
}

.menu {
    width: 60px;
    height: 60px;
    padding-top: 12px;
    margin: 0;
}

.dialog {
    width: max-content;
    max-width: 250px;
    height: fit-content;
    max-height: 500px;
    background-color: rgba(141, 103, 139, 0.8);
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}

.dialog a {
    text-decoration: none;
}

.active {
    border-left: 4px solid yellowgreen !important;
    background-color: #a37d7d50 !important;
}