<div class="container my-3">
    <h2 class="h2 text-center">Settings</h2>
    <hr>
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-9 setName">
                    <span *ngIf="!childMode">Turn on Child Mode:</span>
                    <span *ngIf="childMode">Turn off Child Mode:</span>
                </div>
                <div class="col-3">
                    <label class="switch">
                        <input type="checkbox" name="childMode" [checked]="childMode" (change)="childModeToggle()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            
        </div>
    </div>
    <hr>
    <div class="col-md-4 offset-4 text-center my-4">
        <button [routerLink]="['/login']" class="btn btn-primary btn-block" *ngIf="!ticket">LOGIN</button>
        <button [routerLink]="['/logout']" (click)="clearSession()" class="btn btn-primary btn-block" *ngIf="ticket">LOGOUT</button>
    </div>
</div>